.c-button{
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        display: inline-block;
        transition: 0.5s;
        @media(hover: hover) {
            &:hover {
                transform: translateY(3px);
            }
        }
        @include mq(sm){
            &:active{
                transform: translateY(3px);
            }
        }
    &--submit{
        height: 4rem;
        width: 6rem;
        line-height: 4rem;
        font-size: $font-size_s;
        color: #4a9ff3;
        border-bottom: 2px solid #66acf1;
        border-radius: 100vh;
        box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
        margin-left: 3rem;
        transition: 0.5s;
        @media(hover: hover) {
            &:hover {
                color: #fff;
                background: #4a9ff3;
                border-bottom: 2px solid #fff;
            }
        }
        @include mq(sm){
            &:active{
                color: #fff;
                background: #4a9ff3;
                border-bottom: 2px solid #fff;
            }
        }
    }
}
