/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.editorconfig
.env
.env.example
.env.testing
.env.backup
.env.production
.gitattributes
.gitignore
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/config/database.php
/resources/views/loading.blade.php
vite.config.js
kamitter_test_origin.dump.sql
