.l-app{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include mq(){
        min-height: 695px;
        justify-content: start;
        overflow: hidden;
    }
    @include mq(){
        flex-direction: column;
    }
    &__sidenav{
        width: 13%;
        min-width: 190px;
        @include mq(){
            width: 100%;
        }
    }
    &__main{
        width: 87%;
        @include mq(){
            width: 100%;
        }
        &__switch{
            display: flex;
            justify-content: space-between;
        }
    }

}
