.l-dashboard{
    display: flex;
    @include mq(){
        flex-direction: column;
    }
    &__main{
        width: 75%;
        @include mq(){
            width: 100%;
        }
    }
    &__sub{
        width: 25%;
        min-height: 100vh;
        border-left: 1px solid#eee;
        @include mq(){
            width: 100%;
        }
    }
}