.l-tweet_reserve{
    display: flex;
    @include mq(){
        flex-direction: column;
    }
    &__reserve{
        width: 100%;
    }
    &__tweets{
        width: 100%;
        & > div{
            margin: auto;
        }
    }
}