.p-footer{
    min-height: 80px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    padding: 1rem 100px;
    @include mq(sm){
        padding: 1rem 10px;
    }
    &__inner{
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 1rem;
        @include mq(sm){
            display: flex;
            flex-direction: column;
        }
    }
    &__link{
        font-size: $font-size_m;
        margin: 0 50px;
        transition: 0.5s;
        @include mq(){
            margin: 0 40px;
        }
        @include mq(sm){
            margin-bottom: 0.5rem;
        }
        &:hover{
            color: $font-color_link;
            cursor: pointer;
        }
    }
    &__copyright{
        font-size: $font-size_s;
    }
}