.p-process{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
    &__item{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #fff;
        font-weight: 600;
        color: $mainBlue;
        border: 1px solid $mainBlue;
        margin-bottom: 25px;
        @include mq(){
            width: 40%;
        }
        &--active{
            color: #fff;
            border: none;
            &:nth-child(1){
                background-color: #1ec3f5;
            }
            &:nth-child(2){
                background-color: #1eaff5;
            }
            &:nth-child(3){
                background-color: $mainBlue;
            }
            &:nth-child(4){
                background-color: #1e62f5;
            }
        }
        &--danger{
            width: 85%;
            color: #fff;
            background-color: #ff004b;
            box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
            -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
            transition: 0.5s;
            border: none;
            &:hover{
                transform: translateY(3px);
                cursor: pointer;
            }
        }
        &__name{
            font-size: $font-size_s;
            margin-bottom: 1rem;
        }
        &__detail{
            font-size: $font-size_s;
        }
    }
}
