.p-reserve{
    width: 100%;
    display: flex;
    @include mq(){
        flex-direction: column;
    }
    &__reserve{
        width: 50%;
        max-width: 420px;
        margin-bottom: 50px;
        @include mq(){
            max-width: 100%;
            width: 100%;
        }
    }

    &__text{
        height: 100px;
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        font-size: $font-size_m;
        resize: none;
        background-color: $background-color_soft;
        overflow-wrap: anywhere;

    }
    &__input{
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap:1.5rem;
        @include mq(sm){
            flex-direction: column;
            align-items: flex-end;

        }
    }
    &__datetime{
        vertical-align: middle;
        text-align: center;
        margin-right: 1rem;
        align-items: center;
        -webkit-appearance: none;
        width: 180px;
        font-size: $font-size_m;
        border-bottom: 1px solid #ddd;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    &__icon{
        vertical-align: middle;
        font-size: $font-size_xl;
        margin-left: 0.5rem;
        color: $mainBlue;
        border-radius: 4px;
        :hover{
            cursor: pointer;
        }
    }
    &__text_count{
        vertical-align: middle;
        font-size: $font-size_m;
        width: 110px;
        margin: auto 0;
        &--over{
            color: red;
            font-weight: bold;
        }
    }
    &__submit{
        @include mq(sm){
            display: block;
            width: 100px;
            margin: 1.5rem auto 0 auto;
        }
    }
    &__tweets{
        flex: 1;
        & > div{
            margin: auto;
        }
        @include mq(){
            width: 100%;
        }
    }
}

