.u-font_color{
    &--lightgreen{
        color: #40ee8b;
    }
    &--mainblue{
        color: $mainBlue;
    }
    &--middleblue{
        color: #0faaf8;
    }
    &--lightblue{
        color: $lightBlue;
    }
    &--lightpurple{
        color:#fa42d1;
    }
    &--pink{
        color: #ff758d;
    }
    &--link{
        color: $font-color_link;
    }
}
