.u-font_size{
    &__ss{
        font-size: $font-size_ss;
    }
    &__s{
        font-size: $font-size_s;
    }
    &__m{
        font-size: $font-size_m;
    }
    &__l{
        font-size: $font-size_l;
    }
}