.u-font_size{
    &--ss{
        font-size: $font-size_ss;
    }
    &--s{
        font-size: $font-size_s;
    }
    &--m{
        font-size: $font-size_m;
    }
    &--l{
        font-size: $font-size_l;
    }
    &--xl{
        font-size: $font-size_xl;
    }
}